main {

    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

header {
    display: flex;
    align-items: center;
}


.fundo { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.nav {
    background: var(--cor-branca);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.icones {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.icone-perfil{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.perfil {
    background: var(--cor-branca);
    color: var(--cor-preto);
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    max-width: 600px;
    margin: 20px auto;
    border-bottom: 2px solid var(--cor-preto);
}

.perfil-pic {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid white;
}

.informacao-perfil h2 {
    font-size: 22px;
    display: flex;
    align-items: center;
}

.informacao-perfil p {
    margin: 5px 0;
}

.botao {
    margin-top: 10px;
}

.editar, .sair {
    margin: 15px 3%;
    background-color: transparent;
    border: none;
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
    color: var(--cor-azul);
    cursor: pointer;
}

.editar {
    margin: 15px 3%;
    background-color: transparent;
    border: none;
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
    color: var(--cor-azul);
    cursor: pointer;
}

.sair {
    
    margin: 15px 3%;
    background-color: transparent;
    border: none;
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
    color: var(--cor-azul);
    cursor: pointer;
}

.publicacao {
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
}

.publicacao h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: var(--cor-preto);
    display: flex;
    justify-content: center;
    align-items: end;
}

.publicacao {
    background: var(--cor-branca);
    padding: 15px;
    margin-bottom: 20px;
    border: var(--borda);
}

.publicacao h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.publicacao p {
    margin-bottom: 10px;
}

.informacao-publicacao {
    margin: 15px 3%;
    background-color: transparent;
    border: none;
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
    color: --cor-cinza;
    cursor: pointer;
}

.publicacao a {
    font-size: 14px;
    color: var(--cor-cinza);
    text-decoration: none;
}

.perfil-info>div{
    display: flex;
    gap: 15px;
}